.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    border-bottom: .2vh solid #b5eaea;
    box-shadow: 0 0 20px rgba(9, 146, 151, 0.7);
    padding: 2vh 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 1000;
}

.logo img {
    width: 5rem;
    flex-shrink: 0;
}

.links {
    display: flex;
    gap: 3vw;
    font-size: 2.2vh;
    font-weight: 500;
    flex-wrap: nowrap;
    flex-shrink: 1;
}

.icons {
    display: flex;
    gap: 2vw;
    flex-shrink: 0;
}

.icons i {
    font-size: 2.8vh;
    cursor: pointer;
}
.logo i {
    font-size: 6vh;
}

.icons i {
    font-size: 2.5vh;
}

.links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
}
.welcomeSection{
    
    
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8vh 6vw;
    gap: 5vw;
    flex-wrap: wrap;
}

.welcomeTo{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

#welcome_to h1,
#book_store h1 {
    margin: 0;
    line-height: 1.1;
    display: block;
    font-size: 5vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#book_store h1 {
    color: #089da1;
    
}

.welcomeContent  {
    padding-top: 10rem;
    width: 40vw;
    font-size: 2.2vh;
    line-height: 3vh;
    margin-top: 2vh;
    padding-bottom: 4.375rem;
}

.learnmore_button {
    text-decoration: none;
    background-color: hsl(181.57deg 90.53% 33.14%);
    padding: 1.5vh 3vw;
    color: white;
    font-size: 1.8vh;
    border: none;
    
}

.welcomeImage img {
    padding-top: 10rem;
    width: 40vw;
    max-width: 45vw;
}

.learnmore_button:hover {
    background-color: hsl(181.57deg 90.53% 40%);
    transform: scale(1.05);
    cursor: pointer;
}


.pros div {
    box-shadow: 0 .4vh 1.4vh rgba(0,0,0,.1);
}

.services {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    flex-wrap: wrap;
    margin-top: 2.5rem;
}
.service-box {
    width: 18.75rem;
    padding: 0.625rem;
    text-align: center;
    margin-top: 28.125rem;
    border: 0.2vh solid #1dc6c6;
    box-shadow: 0 0.4vh 1.4vh rgba(38, 248, 248, 0.1);
    background: white;
}

.service-box i {
    font-size: 2.5rem;
    color: #00A8B5;
    margin-bottom: 0.625rem;
}

.service-box h1 {
    font-size: 1.25rem;
    color: #000000;
}

.service-box p {
    font-size: 0.875rem;
    color: #000000;
}

.service-box:hover {
    background-color: #e8fafb;
}
.about_us {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    margin: 0 2rem;
}

.aboutus_img img {
    width: 34.375rem;
    max-width: 100%;
    margin-top: 3.125rem;
}

.aboutus_text h1 {
    font-size: 2.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
}

.aboutus_text p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
    padding: 0.3125rem;
    max-width: 31.25rem;
}








