.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    border-bottom: .2vh solid #b5eaea;
    box-shadow: 0 0 20px rgba(9, 146, 151, 0.7);
    padding: 2vh 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 1000;
}

.logo img {
    width: 5rem;
    flex-shrink: 0;
}

.links {
    display: flex;
    gap: 3vw;
    font-size: 2.2vh;
    font-weight: 500;
    flex-wrap: nowrap;
    flex-shrink: 1;
}

.icons {
    display: flex;
    gap: 2vw;
    flex-shrink: 0;
}

.icons i {
    font-size: 2.8vh;
    cursor: pointer;
}
.logo i {
    font-size: 6vh;
}

.icons i {
    font-size: 2.5vh;
}

.links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
}
.welcomeSection{
    
    
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8vh 6vw;
    gap: 5vw;
    flex-wrap: wrap;
}

.welcomeTo{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

#welcome_to h1,
#book_store h1 {
    margin: 0;
    line-height: 1.1;
    display: block;
    font-size: 5vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#book_store h1 {
    color: #089da1;
    
}

.welcomeContent  {
    padding-top: 10rem;
    width: 40vw;
    font-size: 2.2vh;
    line-height: 3vh;
    margin-top: 2vh;
    padding-bottom: 4.375rem;
}



