h1{
    text-align: center;
}
ol{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
    
}
p{
    margin-top: 0;
    text-align: justify;
    font-size: 13px;
    line-height: 1.5;
    word-wrap: break-word;
    
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    border-bottom: .2vh solid #b5eaea;
    box-shadow: 0 0 20px rgba(9, 146, 151, 0.7);
    padding: 2vh 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 1000;
}

.logo img {
    width: 5rem;
    flex-shrink: 0;
}

.links {
    display: flex;
    gap: 3vw;
    font-size: 2.2vh;
    font-weight: 500;
    flex-wrap: nowrap;
    flex-shrink: 1;
}

.icons {
    display: flex;
    gap: 2vw;
    
}

.icons i {
    font-size: 2.8vh;
    cursor: pointer;
}
.logo i {
    font-size: 6vh;
}

.icons i {
    font-size: 2.5vh;
}

.links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
}
.book_slider{
    display: flex;             
    gap: 40px;                 
    overflow-x: auto;          
    scroll-behavior: smooth;   
    padding: 10px 0;
    margin: 0
}  
.book_slider::-webkit-scrollbar{
    height: 8px;
}  
.book_slider::-webkit-scrollbar-track{
    background: #eaeaea;
}
.book_slider::-webkit-scrollbar-thumb{
    background-color: hsl(181.57deg 90.53% 33.14%);
    border-radius: 4px;
}

.featured{
   flex: 0 0 auto;            
    width: 220px;             
    background-color: white;
    border: 2px solid gray;
    text-align: center;
    padding: 12px;


}
.price_span{
    text-decoration: line-through;
    font-size: 13px;
    font-weight: 10;
    vertical-align: sub;
}
.featured_button{
   
    background-color: white;
    border: 3px solid hsl(181.57deg 90.53% 33.14%);
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    
}
.featured p {
    font-size: 17px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.featured h2{
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.featured h4{
    margin-top: 4px;
    margin-bottom: 10px;
}
.featured_img{
    width: 150px;
    height: 220px;
    object-fit: cover;
}
.featured:hover{
    box-shadow:1px 1px 3px 3px hsl(181.85deg 44.83% 71.57%);
}
.review_li{
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    width: 300px;      
    box-shadow:1px 1px 3px 3px hsl(181.85deg 44.83% 71.57%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;

}
.review_image{
    width: 60px;     
    height: 60px;    
    border-radius: 50%; 
    object-fit: cover;
    margin-bottom: 0px;
}
.review_img_icon{
    display: flex;      
    align-items: center;
    gap: 160px;
    
}

.review_img_icon_i{
    color: #eaeaea;
    font-size: 80px;
    
}
.h3_review{
    margin:2px;
    
}
.digital-book-section {
    position: relative;
    width: 100%;
}
.digital-book-section_img {
   width: 1500px;   
    display: block;
}

.digital-book-section_btn {
    position: absolute;
    top: 75%;  
    left: 20%;  
    transform: translate(-50%, -50%);
}
.blog_ol{
    gap: 100px;
    
}
.blog_li{
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: flex-start;  
    flex-direction: column;                  
    max-width: 370px;  
    box-shadow:  1px 1px 5px 5px rgba(102, 97, 97, 0.3);
    margin-left: 25px;
    padding-bottom: 15px;
  
}
.blog_li_img{
    width: 370px;
    height: 250px;
    object-fit: cover;
    display: block;
    
    
}
.bloger_header{
    color: hsl(181.57deg 90.53% 33.14%);
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.bloger_text_space{
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
}

.blog_icons{
    display: flex;
    gap: 310px;
    margin-left: 15px;
    
    
}
footer{
    clear: both;
    background-color: hsl(0deg 0% 91.76%);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 10px;
    
    

}
footer div{
    max-width: 200px;
    padding: 0px;
    margin: 0px;
    align-items: center;
    gap: 5px;
    
}
footer div div{
    display: flex;
    
}
.newsletter{
   display: flex;
   flex-direction: column;
   gap: 10px;             
   width: 150px;
   
}
.follow_us{
    display: flex;
    gap: 13px;
    margin-left: 5px;
}
.email_button{
    border-radius: 20px;
    background-color: hsl(0deg 0% 79.22%);
    padding: 7px;
    padding-right: 60px;
    padding-left: 10px;
    border: none;
    margin-bottom: 3px;
    font-size: 10px;
}
.subscribe_button{
    border-radius: 20px;
    background-color:hsl(181.57deg 90.53% 33.14%);
    padding: 7px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    color: white;
    font-size: 10px;
    
}
footer div p{
    margin: 0px;
    padding: 3px;
}
.design_by{
    text-align: center;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}