h1{
    text-align: center;
}
ol{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
    
}
p{
    margin-top: 0;
    text-align: justify;
    font-size: 13px;
    line-height: 1.5;
    word-wrap: break-word;
    
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    border-bottom: .2vh solid #b5eaea;
    box-shadow: 0 0 20px rgba(9, 146, 151, 0.7);
    padding: 2vh 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 1000;
}

.logo img {
    width: 5rem;
    flex-shrink: 0;
}

.links {
    display: flex;
    gap: 3vw;
    font-size: 2.2vh;
    font-weight: 500;
    flex-wrap: nowrap;
    flex-shrink: 1;
}

.icons {
    display: flex;
    gap: 2vw;
    
}

.icons i {
    font-size: 2.8vh;
    cursor: pointer;
}
.logo i {
    font-size: 6vh;
}

.icons i {
    font-size: 2.5vh;
}

.links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
}

